main {
    max-width: 850px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 0px) and (max-width: 600px){
    .progress-labels-container {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .progress-label {
        margin-bottom: 3px;
    }
}
@media (min-width: 601px) and (max-width: 2500px){
    .progress-labels-container {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}
.limit-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.delivery-date {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
}
.back-to-orders-link {
    display: inline-block;
    margin-bottom: 30px;

}
.product-info {
    margin-bottom: 3px;
}
.product-image {
    max-width: 150px;
    max-height: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.current-status {
    color: rgb(6, 125, 98);
}
.progress-bar-container {
    height: 25px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
    overflow: hidden;
}
.progress-bar1 {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 10%;
}
.progress-bar2 {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 25%;
}
.progress-bar3 {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 50%;
}
.progress-bar4 {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 75%;
}
.progress-bar5 {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 100%;
}
.link-primary {
    color: rgb(1, 124, 182);
    cursor: pointer;
}
.link-primary:hover {
    color: rgb(196, 80, 0);
}